.flexing{
    display: flex;
    justify-content: center;
    align-items: center;
}

//carousel

#main-slider {
  position: relative;
  .carousel{
   h2 {
      font-size: 36px;
    }
  }
  li.active {
      width: 15px;
      height: 15px;
  }
  .carousel-indicators li {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 1px;
      background-color: $negro;
      border: 3.5px solid $blanco;
      border-radius: 10px;
  }
}
.item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  &:first-child {
    top: auto;
    position: relative;
  }
}

.active {
  opacity: 1;
  z-index: 1;
}

.item-a{
		background-image: url(../images/slider1.jpg);
}

.carousel-content{
  padding: 0px 212px;
  h2{
    color: $blanco;
    border: 1px solid $blanco;
    padding: 15px;
  }
  p{
    font-size: 19px;
    color: $blanco;
    letter-spacing: 8px;
    margin-top: 33px;
  }
}


//nav

.menu-principal{
  background-color: $gris-semi;
  .nav-principal{
    position: relative;
  }
}
.carrito{
  .btn {
        background: #444 none repeat scroll 0 0;
        border: medium none transparent;
        border-radius: 0;
        color: #fff;
        float: right;
        font-family: Raleway;
        font-size: 13px;
        font-weight: normal;
        height: 56px;
        line-height: 18px;
        padding: 5px 10px 0;
        transition: all 0.3s ease 0s;
        width: 50%;
        z-index: 99;
        box-shadow: none;
    }
  span{
    font-size: 20px;
    padding-bottom: 5px;
  }
  i {
      margin-right: 4px;
  }
  .anotacion{
    font-size: 13px;
  }
}

.nav-principal{
  ul{
    list-style-type: none;
    padding-left: 0px;
    li {
      float: left;
      position: relative;
      margin: 10px 0px 0px 0px;
    }
  }
  a{
    text-decoration: none;
    color: $negro;
    padding: 21px 19px;
    font-weight: bold;
    &:hover{
      background-color:$rosa;
      color: $blanco;
    }
  }
}

//publicidad

.publicidad{
  padding: 40px 0px;
  img{
    width: 100%;
  }
}

//latest

hr {
    margin-top: 6px;
    margin-bottom: 0px;
  }
.latest{
  padding: 30px 0px 40px;
  text-align: center;
  ul{
    list-style-type: none;
  }
  li{
     float: left;
     position: relative;
     padding-right: 10px;
     font-family: Raleway;
     font-size: 18px;
     font-weight: 700;
  }
  i{
    color: $gris-arrows;
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color: $gris-arrows;
    font-weight: bold;
    &:hover{
      color: $negro;
    }
  }
}
.pdd-lft{
  padding-left: 0;
}
//product line
.productline{
  padding: 20px 0px 40px;
}
.case{
  background-color: $blanco;
  border: 1px solid $borde;
  img{
    width: 100%;
    padding: 6px;
  }
}
.calification{
  padding:5px 0px;
}
.precio{
    padding:5px 0px;
    .errased{
      color: $gris-arrows
    }
    .data{
      color: $rosa;
      font-size: 16px;
      padding: 0 10px;
    }
  }

//clientes

.clientes{
    background: url("../images/client-bg.jpg") no-repeat scroll 0 0 / cover;
    margin-bottom: 44px;
    padding: 110px 0px 100px;
    img{
      width: 16.6%;
      padding: 0px 12px 0px 12px;
    }
}

//products
.productos{
  .row{
    padding: 20px 0px;
  }
}
.imag{
  float: left;
  width: 220px;
  img{
    width: 97%;
    background-color: $blanco;
    border: 1px solid $borde;
    padding: 5px;
  }
}
.des{
    display: inline-block;
    padding-left: 10px;
    .nombre{
      font-size: 17px;
    }
}
.box{
  background-color: $negro;
  padding: 5px 7px;
  color: $blanco;
}


//blog
.blog{
  margin-bottom: 40px;
  img{
    width: 100%;
    margin-bottom: 10px;
  }
  h2{
    font-family: "Raleway";
    color: $negro;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 700;
    a{
      color: $negro;
    }
  }
  .date{
    padding-bottom: 12px;
  }
  p{
    color: $negro;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    margin-bottom: 6px;
  }
  .mas{
    a{
      color: $rosa;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

//footer
.footer1{
  background-color: $gris;
  padding: 20px 0px;
  h5{
    color: $negro;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0 0 20px;
  }
}

.footer2{
  background-color: $negro;
  color: $blanco;
}

