footer
	.footer1
		.container
			.row
				.col-sm-6.col-md-3
					.ft-cont
						h5 ACCESORIES
						.ft-txt
							p Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labor et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris.
							.s-redes
								.red
									a(href="")
										i.fa.fa-facebook
								.red
									a(href="")
										i.fa.fa-twitter
								.red
									a(href="")
										i.fa.fa-rss
								.red
									a(href="")
										i.fa.fa-skype
								.red
									a(href="")
										i.fa.fa-dribble
				.col-sm-6.col-md-2
					.ft-cont
						h5 MY ACCOUNT
						ul.list-unstyled
							li
								a(href="#") My Account
							li
								a(href="#") Order History
							li
								a(href="#") Wish List
							li
								a(href="#") Newsletter
				.col-sm-6.col-md-2
					.ft-cont
						h5 INFORMATION
						ul.list-unstyled
							li
								a(href="#") About Us
							li
								a(href="#") Delivery Information
							li
								a(href="#") Privacy Policy
							li
								a(href="#") Terms & Condition
				.col-sm-6.col-md-2
					.ft-cont
						h5 EXTRAS
						ul.list-unstyled
							li
								a(href="#") Brands
							li
								a(href="#") Gift Vouchers
							li
								a(href="#") Affiliates
							li
								a(href="#") Specials
				.col-sm-6.col-md-3
					.ft-cont
						h5 ABOUTS US
						.footer-static-content
							p.adress
								i.fa.fa-map-marker
								span 8901 Marmora Road, Glasgow D04 89 GR, New York
							p.phone
								i.fa.fa-phone
								span (0123)456789 (0987) 654321
							p.email
								i.fa.fa-envelope
								span admin@bootexperts.com
	.footer2
		.container
			.row
				.col-xs-12.col-md-6
					p Copyright &copy; 2015
						a(target="_blank" href="#") BootExperts
						span All rights reserved.
				.col-xs-12.col-md-6
					.pago
						img(src="./images/payment.png" alt="")

		script(src='./js/bootstrap.min.js')
		script(src='./js/jquery.js')
		script(src='./js/carousel.js')
		script(src='./js/jqBootstrapValidation.js')