header
	.barra1
		.container
			.row
				.col.sm-6.col-md-6
					.default-msg.pull-left Default Welcome Msg!
				.col-sm-6.col-md-6
					.sett
						ul.pull-right
							li
								a(href="#")
									span
										img(src="./images/flag1.png")
										span Language
										i.fa.fa-angle-down
							li
								a(href="#")
									span
										i.fa.fa-usd 
										span Currency
									i.fa.fa-angle-down
							li
								a(href="#")
									span
										i.fa.fa-user 
										span My Account
									i.fa.fa-angle-down
	.barra2
		.container
			.row
				.col-sm-4.col-md-4.hidden-xs
					.date
						.icono.pull-left
							i.fa.fa-clock-o
						p.pull-left
							span.o-time.pull-left OPENNING TIME
							span.time.pull-left 9.00 AM - 10.00 PM
				.col-xs-12.col-sm-4.col-md-4.text-center
					.logo
						a(href="#")
							img(src="./images/logo.png")
				.col-xs-12.col-sm-4.col-md-4
					#search.input-group.form-search
						+inputWithTextContent('Search')
						span.input-group-btn
								button.btn.btn-default.button-search(type="button")
									i.fa.fa-search
.menu-principal
	.container
		.row
			.col-md-9.col-xs-6
				.nav-principal
					nav
						ul
							li.active
								a(href="index.html") HOME
							li
								a(href="contact-us.html") CONTACT US
			.col-md-3.col-xs-6
				.carrito
					button.btn(type="button")
						span 
							span
								i.fa.fa-shopping-cart 
								span My Cart 
							br
							span.anotacion 2 item(s) - $244.00